body{
  background: black;
  animation:5s infinite ccc;
  
}
input{
  color: gold;
  
}
#g{
  background: black;
  color: white;
  
}
#s{
  width:250px ;
  height:200px;
  background: white ;
  border-radius: 20%;
  
}
@keyframes ccc{
  1%{
    background: black;
  }
  
  99%{
    background: white;
  }
}

#yy,#ff{
  text-align: center;
}
